extends ../template

block variables
    - var title = 'Карта'
    - var contactForm = true

block content
    main
        .cont-wrap 
            .cont-box
                ul
                    li 
                        a(href="login.html") Войти 