extends ../template

block variables
    - var title = 'Карта'
    - var header = true

block content
    main
        .cont-block__wrap 
            .cont-block.cont-block_m70
                ul(style="display: grid; grid-row-gap: 12px; font-weight: 300; font-size: 18px;")
                    li 
                        a(href="login.html") Войти 
                    li 
                        a(href="login-dop1.html") Главная - авторизация
                    li 
                        a(href="login-dop11.html") Главная - авторизация 2
                    li 
                        a(href="login-dop2.html") Главная - авторизация Новый пароль
                    li 
                        a(href="main-page.html") Главная 
                    li 
                        a(href="broni.html") Мои брони и сделки 
                    li 
                        a(href="my-data.html") Мои данные 
                    li 
                        a(href="moi-pokupki.html") Мои покупки
                    li 
                        a(href="help-doc.html") Помощь и документы
                    li 
                        a(href="zapis-na-priem.html") Запись на прием квартиры
                    li 
                        a(href="zapis-na-priem-2.html") Запись на прием квартиры 2
                    li 
                        a(href="notyf.html") Уведомления
                    li 
                        a(href="kontact-obr.html") Контакты и обращения
                    li 
                        a(href="nps.html") NPS опрос дольщиков со своим URL адресом
                    li 
                        a(href="news.html") Новости