extends ../template

block variables
    - var title = 'Карта'
    - var header = true

block content
    main
        .cont-wrap 
            .cont-box
                ul
                    li 
                        a(href="login.html") Войти 
                    li 
                        a(href="main-page.html") Главная 
                    li 
                        a(href="broni.html") Мои брони и сделки 