extends ../template

block variables
    - var title = 'Пресс-центр'
    - var header = true

block content
    main
        .cont-block__wrap 
            .cont-block.cont-block_m30
                h1.cont-block__h1 Пресс-центр
                ul.bread-cru 
                    li.bread-cru__item 
                        a(href="#").bread-cru__linc Главная
                    li.bread-cru__item 
                        a(href="#").bread-cru__linc Личный кабинет
                    li.bread-cru__item 
                        .bread-cru__linc Пресс-центр

        .cont-block__wrap 
            .cont-block.cont-block_mb70
                ul.news-list
                    li.news-list__item
                        a(href="#").news-list__linc
                            .news-list__img
                                img(src="./assets/images/slider1.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст")
                            .news-list__body 
                                .news-list__date 24 сентября 2020
                                h4.news-list__h ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст
                                .news-list__text 
                                    p Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...
                    li.news-list__item
                        a(href="#").news-list__linc
                            .news-list__img
                                img(src="./assets/images/slider1.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст")
                            .news-list__body 
                                .news-list__date 24 сентября 2020
                                h4.news-list__h ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст
                                .news-list__text 
                                    p Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...
                    li.news-list__item
                        a(href="#").news-list__linc
                            .news-list__img
                                img(src="./assets/images/slider1.jpg" alt="ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст")
                            .news-list__body 
                                .news-list__date 24 сентября 2020
                                h4.news-list__h ГК ФСК в Петербурге и УК СП-Сервис стали партнерами и какой-то детальный текст
                                .news-list__text 
                                    p Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры,...


                .news-list__buttom-wrap
                    button.button.button_ghost Показать ещё
