@mixin udoli {
	--color-main: #e94200;
	--color-dop: #727272;
	--color-main-back: #ffffff;
	--color-dop-back: #f6f8fa;
	--color-border: #e5e5e5;
	--color-main-text: #000000;
	--color-dop-text: #bebebe;
	--color-cta: #80b918;
	--color-error: #eb001b;
	--color-alert: #ffdd2d;
}
$content-max-weight: 1200px;
$content-padding: 0 16px;
// Fix: Слышь удоли ↑

.bron-card {
	width: 100%;
	min-height: 550px;
	border: 1px solid var(--color-border);
	border-radius: 5px;
	background-color: var(--color-main-back);
	display: grid;
	grid-template-columns: 60px 1fr auto;
	justify-items: stretch;
}

.bron-card-nav {
	display: grid;
	grid-row-gap: 24px;
	grid-template-rows: repeat(4, auto) 1fr;
	align-content: start;
	justify-items: center;
	padding: 24px 4px;
	background-color: var(--color-dop-back);
	border-radius: 4px 0px 0px 4px;
}

.bron-card-nav__button-tab {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--color-dop-text);
	width: 100%;

	> span {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	&.active {
		color: var(--color-main-text);
	}
}

.bron-card-nav__info {
	display: block;
	align-self: end;
	// display: none;
}

.bron-card-body {
	width: 100%;
	height: 100%;
	position: relative;
}

.bron-card-body__button-zoom {
	position: absolute;
	top: 24px;
	right: 24px;
	background-color: var(--color-border);
	z-index: 3;
	pointer-events: none;
}

.bron-card-body__img-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.bron-card-body__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bron-card-body__back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.bron-card-body__back-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 88px;
	width: auto;
	--icon-color-text: var(--color-border);
	--icon-color-logo: var(--color-border);
}

.bron-card-info {
	width: 410px;
	height: 100%;
	padding: 24px;
	border-left: 1px dashed var(--color-border);
}

.bron-card-info__linc-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 14px;
	justify-content: start;
	margin-bottom: 50px;
}

.bron-card-info__linc {
	display: block;

	> svg {
		display: block;
		--icon-color: var(--color-dop-text);
	}

	&:hover > svg {
		--icon-color: var(--color-main-text);
	}
}

.bron-card-info__h {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: var(--color-main-text);
	margin: 0 0 24px;
}

.bron-card-info__options-wrap {
	display: grid;
	grid-row-gap: 24px;
	margin-bottom: 24px;
}

.bron-card-info__options-list {
	display: grid;
	grid-row-gap: 4px;
}

.bron-card-info__options-item {
	display: flex;
	justify-content: space-between;
	position: relative;

	> span {
		position: relative;
		background-color: var(--color-main-back);
		z-index: 2;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 2px;
		bottom: 4px;
		left: 2px;
		border-bottom: 1px dashed var(--color-border);
		z-index: 1;
	}
}

.bron-card-info__options-item-ok {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-bottom: -1px;
	margin-right: 8px;
	background-color: var(--color-cta);
	border-radius: 14px;

	svg {
		display: block;
	}
}

.bron-card-info__prise-wrap {
	display: grid;
	grid-column-gap: 4px;
}

.bron-card-info__prise,
.bron-card-info__prise-old {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
}

.bron-card-info__prise {
	color: var(--color-main);
}

.bron-card-info__prise-old {
	color: var(--color-dop-text);
}

.bron-progres-linc,
.bron-progres {
	background-color: var(--color-dop-back);
	border-radius: 3px;
	padding: 26px 30px;
	margin: 30px 0 70px;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 30px;
}

.bron-progres-linc__h {
	font-weight: 500;
	font-size: 20px;
	line-height: 21px;
	color: var(--color-main);
	margin-bottom: 6px;
}

.bron-progres-linc__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: var(--color-main-text);
}

.bron-progres-linc__linc {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 2px solid var(--color-main);
	align-self: center;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		--icon-color: var(--color-main-text);
	}
}

.bron-progres {
	height: 100px;
	position: relative;
	overflow: hidden;
	transition: height 300ms ease-in-out 0ms;
}

.bron-progres__body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
	margin: -24px 0;
}

.bron-progres__item {
	position: relative;
	padding: 24px 0 24px 36px;
	opacity: 0;
	transition: 200ms ease-in-out 0ms;
	transition-property: opacity;

	&::before {
		content: "";
		position: absolute;
		width: 9px;
		height: 9px;
		border-radius: 20px;
		border: 2px solid var(--color-dop-back);
		background-color: var(--color-border);
		left: -2px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}

	&::after {
		content: "";
		position: absolute;
		width: 1px;
		top: 0;
		bottom: 0;
		left: 4px;
		background-color: var(--color-border);
	}

	&:first-child::after {
		top: 50%;
	}
	&:last-child::after {
		bottom: 50%;
	}

	&.bron-progres__item_green::before {
		background-color: var(--color-cta);
	}

	&.bron-progres__item_orange::before {
		background-color: var(--color-main);
	}

	&.active {
		opacity: 1;
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);

		&::after {
			top: 10px;
			bottom: 10px;
		}
	}
}

.bron-progres__item-h,
.bron-progres__item-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: var(--color-main-text);
}

.bron-progres__item-h {
	font-weight: 700;
}

.bron-progres__item.bron-progres__item_green {
	.bron-progres__item-h,
	.bron-progres__item-text {
		color: var(--color-dop-text);
	}
}

.bron-progres__item.bron-progres__item_orange .bron-progres__item-h {
	color: var(--color-main);
}

.bron-progres__button {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 2px solid var(--color-main);
	align-self: start;
	margin-top: 5px;
	cursor: pointer;
	background-color: transparent;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);
		--icon-color: var(--color-main-text);
		transition: transform 300ms ease-in-out 0ms;
	}
}

.bron-progres.active {
	.bron-progres__item {
		opacity: 1;

		&.active {
			position: relative;
			top: 0;
			left: 0;
			transform: none;

			&::after {
				top: 0;
				bottom: 0;
			}

			&:first-child::after {
				top: 50%;
			}
			&:last-child::after {
				bottom: 50%;
			}
		}
	}

	.bron-progres__button svg {
		transform: translate(-50%, -50%) rotate(-90deg);
	}
}
