@mixin udoli {
	--color-main: #e94200;
	--color-dop: #727272;
	--color-main-back: #ffffff;
	--color-dop-back: #f6f8fa;
	--color-border: #e5e5e5;
	--color-main-text: #000000;
	--color-dop-text: #bebebe;
	--color-cta: #80b918;
	--color-error: #eb001b;
	--color-alert: #ffdd2d;
}
$content-max-weight: 1200px;
$content-padding: 0 16px;
// Fix: Слышь удоли ↑

.bron-card {
	width: 100%;
	min-height: 550px;
	border: 1px solid var(--color-border);
	border-radius: 5px;
	background-color: var(--color-main-back);
	display: grid;
	grid-template-columns: 60px 1fr auto;
	justify-items: stretch;
}

.bron-card-nav {
	display: grid;
	grid-row-gap: 24px;
	grid-template-rows: repeat(4, auto) 1fr;
	align-content: start;
	justify-items: center;
	padding: 24px 4px;
	background-color: var(--color-dop-back);
	border-radius: 4px 0px 0px 4px;
}

.bron-card-nav__button-tab {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--color-dop-text);
	width: 100%;

	> span {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	&.active {
		color: var(--color-main-text);
	}
}

.bron-card-nav__info {
	display: block;
	align-self: end;
	// display: none;
}

.bron-card-body {
	width: 100%;
	height: 100%;
	position: relative;
}

.bron-card-body__button-zoom {
	position: absolute;
	top: 24px;
	right: 24px;
	background-color: var(--color-border);
	z-index: 3;
	pointer-events: none;
}

.bron-card-body__img-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.bron-card-body__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bron-card-body__back {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.bron-card-body__back-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 88px;
	width: auto;
	--icon-color-text: var(--color-border);
	--icon-color-logo: var(--color-border);
}

.bron-card-info {
	width: 410px;
	height: 100%;
	padding: 24px;
	border-left: 1px dashed var(--color-border);
}

.bron-card-info__linc-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 14px;
	justify-content: start;
	margin-bottom: 50px;
}

.bron-card-info__linc {
	display: block;

	> svg {
		display: block;
	}

	&:hover > svg {
		--icon-color: var(--color-main-text);
	}
}

.bron-card-info__h {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: var(--color-main-text);
	margin: 0 0 24px;
}

.bron-card-info__options-wrap {
	display: grid;
	grid-row-gap: 24px;
	margin-bottom: 24px;
}

.bron-card-info__options-list {
	display: grid;
	grid-row-gap: 4px;
}

.bron-card-info__options-item {
	display: flex;
	justify-content: space-between;
	position: relative;

	> span {
		position: relative;
		background-color: var(--color-main-back);
		z-index: 2;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 2px;
		bottom: 4px;
		left: 2px;
		border-bottom: 1px dashed var(--color-border);
		z-index: 1;
	}
}

.bron-card-info__options-item-ok {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-bottom: -1px;
	margin-right: 8px;
	background-color: var(--color-cta);
	border-radius: 14px;

	svg {
		display: block;
	}
}

.bron-card-info__prise-wrap {
	display: grid;
	grid-column-gap: 4px;
}

.bron-card-info__prise,
.bron-card-info__prise-old {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
}

.bron-card-info__prise {
	color: var(--color-main);
}

.bron-card-info__prise-old {
	color: var(--color-dop-text);
}
