@mixin udoli {
	--color-main: #e94200;
	--color-dop: #727272;
	--color-main-back: #ffffff;
	--color-dop-back: #f6f8fa;
	--color-border: #e5e5e5;
	--color-main-text: #000000;
	--color-dop-text: #bebebe;
	--color-cta: #80b918;
	--color-error: #eb001b;
	--color-alert: #ffdd2d;
}
$content-max-weight: 1200px;
$content-padding: 0 16px;
// Fix: Слышь удоли ↑

.login_dop__wrap {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 16px;
	overflow-y: auto;
}

.login_dop {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	.login {
		position: static;
		box-shadow: none;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		max-width: 100%;
		padding: 50px 94px;
		width: 500px;
		background-color: var(--color-dop-back);
		border-radius: 0 5px 5px 0;
	}

	.login__main-logo {
		margin-bottom: 32px;
	}
}

.login_dop__wrap-img {
	border-radius: 5px 0 0 5px;
}

.login-form__or {
	margin-top: 6px;
	display: flex;
	align-items: center;

	&::after,
	&::before {
		content: "";
		display: block;
		height: 1px;
		background-color: var(--color-dop);
		flex-grow: 1;
	}
}

.login-form__or-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: var(--color-dop);
	margin: 0 25px;
}

.login-form__bottom-wrap-dop {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button_ghost {
	color: var(--color-main);
	background-color: transparent;
	border: 1px solid var(--color-main);
	transition: background 150ms ease-in-out 0ms;

	&:hover {
		background-color: var(--color-main);
		color: #ffffff;
		box-shadow: none;
	}
}
.dark {
	.button_ghost {
		color: var(--color-main-text);
	}
}

.login_dop_pas {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	width: calc(100% - 24px);
	max-width: 330px;
	display: grid;
	grid-row-gap: 24px;
}

.login_dop_pas__text {
	padding: 18px 22px;
	border-radius: 3px;
	background-color: var(--color-dop-back);
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: var(--color-main-text);
}

@media screen and (max-width: 850px) {
	.login_dop__wrap-img {
		display: none;
	}

	.login_dop .login {
		border-radius: 5px;
	}
}

@media screen and (max-width: 768px) {
	.login_dop .login-form__bottom-resend {
		order: 2;
		margin-bottom: 0;
		margin-top: 20px;
	}
	.login_dop .login-form__bottom-wrap > .button {
		order: 1;
	}
}

@media screen and (max-width: 580px) {
	.login_dop {
		width: calc(100% - 24px);
	}
	.login_dop .login {
		padding: 30px 16px 40px;
		width: 100%;
	}
}
