@mixin udoli {
	--color-main: #e94200;
	--color-dop: #727272;
	--color-main-back: #ffffff;
	--color-dop-back: #f6f8fa;
	--color-border: #e5e5e5;
	--color-main-text: #000000;
	--color-dop-text: #bebebe;
	--color-cta: #80b918;
	--color-error: #eb001b;
	--color-alert: #ffdd2d;
}
$content-max-weight: 1200px;
$content-padding: 0 16px;
// Fix: Слышь удоли ↑

// data-header
.data-header {
	background-color: var(--color-dop-back);
	border-radius: 3px;
	padding: 30px;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.data-header__icon {
	width: 60px;
	height: 60px;
	border-radius: 50px;
	border: 1px solid var(--color-main);
	position: relative;
	margin-right: 20px;
	flex-shrink: 0;

	svg {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		--icon-color: var(--color-main-text);
	}
}

.data-header__h {
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
	color: var(--color-main-text);
	margin: 0;
}

.data-header__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
}

.data-header__warning {
	color: var(--color-main);
}

.data-input-block {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
	margin-bottom: 30px;
}

.data-input-text {
	margin-bottom: 30px;

	p {
		font-weight: 300;
		font-size: 16px;
		line-height: 21px;
		margin: 24px 0;
		color: var(--color-dop);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.data-checkbox-block {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 34px;
	grid-row-gap: 48px;
	margin-bottom: 30px;
}

.data-switch-block {
	margin-bottom: 30px;
}

.data-switch-block__item {
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px dashed var(--color-dop);
	padding: 8px 0;

	&:last-child {
		border-bottom: none;
	}
}

.data-switch-block__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.3;
}

.data-button-wrap {
	display: grid;
	justify-content: center;
	grid-auto-flow: column;
	grid-column-gap: 24px;
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
	.data-header {
		padding: 20px;
	}
	.data-header__icon {
		min-width: 60px;
	}
	.data-header__h {
		font-size: 20px;
		line-height: 130%;
	}
	.data-input-block {
		grid-template-columns: 1fr;
	}
	.data-checkbox-block {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 500px) {
	.data-switch-block__text {
		font-size: 14px;
	}
}

// help-faq
.help-faq {
	border: 1px solid var(--color-border);
	border-radius: 5px;
}

.help-faq-item {
	overflow: hidden;
	border-bottom: 1px solid var(--color-border);

	&:last-child {
		border-bottom: none;
	}
}

.help-faq-item__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: var(--color-main-text);
	padding: 12px 24px;
	cursor: pointer;
}

.help-faq-item__button {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid var(--color-main);

	svg {
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		--icon-color: var(--color-main-text);
		transition: transform 200ms ease-in-out 0ms;
	}
}

.help-faq-item.active .help-faq-item__button svg {
	transform: translate(-50%, -50%) rotate(-180deg);
}

.help-faq-item__body {
	padding: 0 24px;
	display: block;

	p {
		margin: 0;
		padding: 0 0 12px;
		font-weight: 300;
		font-size: 16px;
		line-height: 21px;
		color: var(--color-main-text);
	}
}

@media screen and (max-width: 767px) {
	.help-faq-item__head {
		padding: 12px 16px;
	}
	.help-faq-item__button {
		min-width: 20px;
		margin-left: 10px;
	}
}

// download-list
.download-list__input-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 24px;
	justify-content: end;
	margin-bottom: 30px;
}

.download-list__list {
	border: 1px solid var(--color-border);
	border-radius: 5px;
}

.download-list__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: var(--color-main-text);
	padding: 12px 24px;
	border-bottom: 1px solid var(--color-border);

	&:last-child {
		border-bottom: none;
	}
}

.linc-arrow {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: var(--color-main-text);
	text-decoration: none;
}

// .linc-arrow_orange {
// 	color: var(--color-main);
// }

.linc-arrow__icon {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid var(--color-main);
	position: relative;
	margin-left: 10px;

	svg {
		--icon-color: var(--color-main-text);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 12px;
		height: auto;
	}
}

.linc-arrow__icon_down svg {
	transform: translate(-50%, -50%) rotate(90deg);
}

@media screen and (max-width: 767px) {
	.download-list__item {
		padding: 12px 16px;
	}
}

// schema-regist
.schema-regist {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 24px;
	grid-row-gap: 56px;
}

.schema-regist__item {
	display: flex;
	align-items: flex-start;
}

.schema-regist__icon {
	position: relative;
	width: 78px;
	height: 78px;
	border: 2px solid var(--color-main);
	border-radius: 78px;
	margin-right: 24px;
	flex-shrink: 0;

	svg {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		--icon-color: var(--color-main-text);
	}
}

.schema-regist__h {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	margin: 0 0 12px;
}

.schema-regist__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	color: var(--color-main-text);
	margin: 12px 0;

	&:last-child {
		margin-bottom: 0;
	}

	a {
		font-weight: 500;
		text-decoration: none;
	}
}

@media screen and (max-width: 1023px) {
	.schema-regist {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 767px) {
	.schema-regist {
		grid-template-columns: 1fr;
	}
	.schema-regist__icon {
		width: 50px;
		height: 50px;
		margin-right: 16px;

		svg {
			width: 30px;
			height: 30px;
		}
	}
}
